.loadingSplash {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  z-index: 999999999;
  align-items: center;
  justify-content: center;
  background-color: rgba(255,255,255,.35);
}

.loadingMain {
  font-size: 24px;
  text-align: center;
  color: #000;
  padding: 20px;
  border-radius: 25%;
  background-color: rgba(255,255,255,.65);
}

.sliderLayout{
  height: 100vh;
}

.sliderLayout .header{
  position: absolute;
  z-index: 99999999;
  color: #f44242;
  width: 60%;
  
}

.sliderLayout .header .icon{
  font-size: 2em;
  z-index: inherit;
  padding: 10px;
  color: #999;
  vertical-align: top;
  
}


.sliderLayout .header .locationIcon{
  margin-top: -15px;
  
}

.sliderLayout .header .menuIcon{
  display: inline-block;
  
}


.sliderLayout .header .icon:hover{
  cursor: pointer;
  color: #ff0000;
}

.sliderLayout .header .headerText{
  font-family: 'Leckerli One', cursive;
  vertical-align: top;
  padding: 10px;
  font-size: 22px;
  display: inline-block;
}

.mainContent {
  position: absolute;
  margin-right: 0;
  margin-left: 0;
  height: 100vh;
  transition: margin 0.5s ease-in-out;
}

.mainContent.right{
  right: 0;
}

.mainContent.left{
  left: 0;
}

.sliderLayout.leftOn .mainContent {
  margin-left: 30%;

}

.sliderLayout.rightOn .mainContent {
  margin-right: 30%;
} 


.leftSlider,
.rightSlider{
 position: absolute;
 width: 30%;
 height: 100vh;
 top: 0;
 z-index: 999999;
 background: #FFF;
 transition: margin 0.5s ease-in-out;
}

.sliderInner {
  padding: 20px;
  height: 90%;
}

.leftSlider
{
  left: 0;
  margin-left: -30%;
}

.rightSlider
{
  right: 0;
  margin-right: -30%;
}

.sliderLayout.leftOn .leftSlider{
  margin-left: 0;
}
.sliderLayout.rightOn .rightSlider
{
  margin-right: 0;
}

